$linkColor: #f4f4f4;
// $brown: #c0b283;
$lightBlue: #add8e6;
$mediumBlue: #526c75;
$darkerBlue: #2b4d59;
$darkGray: #333333;
$offWhite: #f2f2f2;

// https://colorhunt.co/palette/a9907ef3debaabc4aa675d50
$medBrown: rgb(169, 144, 126);
$lightBrown: rgb(243, 222, 186);
$green: rgb(171, 196, 170);
$darkBrown: rgb(103, 93, 80);