$secularOne: 'Secular One', sans-serif;
$donegalOne: 'Donegal One', serif;

@mixin logo-secular-one {
    font-family: $secularOne;
    font-weight: 100;
    font-size: 3rem;

    a {
        text-decoration: none;
        color: $darkGray;
    }
}

@mixin h2-title-donegal-one {
    font-family: $donegalOne;
    font-weight: 500;
    font-size: 2rem;
    color: $darkerBlue;
}