<div class="header">
    <div class="logo-box">
        <h1 class="logo">JeremyWells.io</h1>
    </div>
    <div class="subtext-box">
        <p class="subtext">
            {{ metadata.subtext }}
        </p>
    </div>
    <div class="nav-box">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/">blog</a>
            </li>
            <li class="nav-item">
                <a href="/about">about</a>
            </li>
            <li class="nav-item">
                <a href="/contact">contact</a>
            </li>
        </ul>
    </div>
    <div class="socials-box">
        <ul class="socials-list">
            <li class="socials-list-item">
                <a href="#">github</a>
            </li>
            <li class="socials-list-item">
                <a href="#">linkdedin</a>
            </li>
            <li class="socials-list-item">
                <a href="#">dev.to</a>
            </li>
        </ul>
    </div>