<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    {%- css %}{% include "assets/vendor/prism-vsc-plus.css" %}{% endcss %}
    <style>
        {% getBundle "css" %}
    </style>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" }}">
    <script src="https://kit.fontawesome.com/a7ab7f4738.js" crossorigin="anonymous"></script>
    <title>{{ title or metadata.title }}</title>
</head>