<div class="postlist-container">
    {% for post in collections.posts %}
        {%if post.data.published %}
            <div class="post-box">
                <div class="postlist-title-box">
                    <a href="" class="postlist-title">{{ post.data.pageTitle }}</a>
                </div>
                <div class="postlist-date-box">
                    <em>{{ post.date | asPostDate }}</em>
                </div>
                <div class="standfirst-box">
                    <p class="standfirst">
                        {{ post.data.standfirst }}
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>