{% set scriptBlock %}
{% include 'scripts/open-in-new-tab-except-no-target.js' %}
{% include 'scripts/add-lang-to-code-blocks.js' %}
{% include 'scripts/open-about-links-in-new-tab.js' %}
{% include 'scripts/copy-code-block.js' %}
{% endset %}
<script>{{ scriptBlock | jsmin | safe }}</script>
