@import "var/colors";
@import "var/media";
@import "ext/fonts";
@import "var/font-families";
@import "layouts/home";
@import "layouts/page";
@import "layouts/post";
@import "includes/header";
@import "includes/postlist";
@import "content/about";

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $offWhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Donegal One', serif;
  a {
    text-decoration: none;
  }
}

a {
  color: #000;
  transition: color 0.3s;
  &:hover {
    color: $linkColor;
  }
}
