.header>* {
    font-family: 'Nunito Sans', sans-serif;

    a {
        color: $darkGray;
        transition: color 0.3s;

        &:hover {
            color: $linkColor;
        }
    }
}

.header-top, .header-nav {
    flex: 1 1 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: $medBrown;
    border-bottom: 5px solid $green;
}

.header-top {
    display: flex;
    flex-direction: row;
}

// TODO : add this when we have widths > mobile
// .logo-box,
// .socials-box {
//     flex-grow: 1;
// }

.header-nav {
    padding-bottom: 1rem;
}

.logo-box {
    // note, this is only for mobile
    width: 100%;
}

.socials-box {
    // note, this is only for mobile
    display: none;
}

h1.logo {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;

    a {
        text-decoration: none;
        color: $darkGray;
    }
}

p.description {
    // TODO : show in widths > mobile
    display: none;
}

ul.socials-list {
    display: none;
    // TODO : saving below styles for > mobile widths
    // display: flex;
    // flex-direction: column;
    // text-decoration: none;
    // list-style-type: none;
}

ul.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    list-style-type: none;
}

li.nav-item {
    flex: 1 1 0;
    margin-left: 0.2rem;
}