.header>* {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.2em;

    a {
        color: $darkGray;
        transition: color 0.3s;

        &:hover {
            color: $linkColor;
        }
    }
}

.header {
    display: flex;
    flex-direction: row;

    @include for-notebook-up {
        width: 75%;
        margin: auto;
    }
}

.header-left {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include for-notebook-up {
        width: 90%;
    }
}

.header-right {
    display: none;

    @include for-notebook-up {
        display: initial;
        width: 10%;
    }
}

.header-top {
    display: flex;
    flex-direction: row;
}

.header-nav {
    padding-bottom: 1rem;
}

.logo-box {
    width: 100%;
}

h1.logo {
    display: block;
    width: 100%;
    height: 100%;

    @include logo-secular-one;
    text-align: center;

    @include for-notebook-up {
        height: initial;
        text-align: left;
    }
}

p.description {
    display: none;

    @include for-notebook-up {
        display: block;
        padding-left: 1rem;
        font-size: 0.75rem;
    }
}

ul.socials-list {
    display: none;

    @include for-notebook-up {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
    }
}

li.socials-list-item {
    margin: 0.5rem;
    display: block;
    width: 100%;
    text-align: center;
}

ul.nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
    justify-content: space-around;

    @include for-notebook-up {
        justify-content: initial;
    }
}

li.nav-item {
    margin-left: 0.2rem;

    @include for-tablet-portrait-up {
        margin-left: 0;
    }

    @include for-notebook-up {
        margin-right: 10%;
    }
}

.header-bottom-line {
    border-bottom: 5px solid $green;

    @include for-notebook-up {
        width: 75%;
        margin: auto;
    }
}