.postlist-container {
    .post-box {
        margin-bottom: 2rem;
    }

    .postlist-title-box {
        margin-bottom: 0.3rem;
    }

    a.postlist-title {
        @include h2-title-donegal-one;
        text-decoration: none;
    }
}