.postlist-container {
    .post-box {
        margin-bottom: 2rem;
    }

    .postlist-title-box {
        margin-bottom: 0.3rem;
    }

    a.postlist-title {
        @include h2-title-donegal-one;
        text-decoration: none;
    }

    .standfirst-box {
        margin-bottom: 0.3rem;
    }

    p.standfirst {
        @include for-notebook-up {
            font-size: 1.15rem;
        }
    }
}