.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $offWhite;
}

.home-header-container {
    margin: auto;
    width: 100%;
}

.home-content-container {
    flex-grow: 1;
    margin: auto;
    background-color: $offWhite;
    width: 100%;
    // TODO : do this when width > mobile
    // width: 50%;
}