.page-container {
    background-color: white;
    height: 100%;
    padding: 1rem;
    line-height: initial;

    h2 {
        @include h2-title-donegal-one;
        text-align: center;

        @include for-notebook-up {
            text-align: left;
        }
    }

    p {
        font-size: 14px;
    }

    @include for-notebook-up {
        padding: 5% 10%;
    }
}